@import "tailwindcss";

/* Hide scrollbar globally but allow scrolling */
* {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
